<ul class="nav nav-tabs nav-justified" role="tablist">
    <li ng-class="{active: state == 'accounts'}">
        <a ui-sref="accounts">Accounts</a>
    </li>
    <li ng-class="{active: state == 'transactions'}">
        <a ui-sref="transactions">Transactions</a>
    </li>
</ul>