<tabs></tabs>
<div class="table-responsive">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>
                Amount
            </th>
            <th>
                Status
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody ng-repeat="transaction in transactions">
        <tr ng-class="transaction.tableClass()">
            <td>
                {{transaction.data.amount | currency}}
            </td>
            <td>
                <select ng-model="transaction.data.currentStatus" ng-options="status for status in statuses"
                        class="form-control"></select>
            </td>
            <td>
                {{transaction.data.created_at | date:'yyyy-MM-dd HH:mm:ss Z'}}
            </td>
            <td>
                <button class="btn" ng-if="transaction.statusChanged()"
                        ng-click="transaction.updateStatus(transaction.data.currentStatus)">Save
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>